package ${package.FacadeImpl};

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import ${package.Facade}.${table.facadeName};
import ${superFacadeImplClassPackage};
import com.alibaba.dubbo.config.annotation.Service;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.facadeImplName} : ${superFacadeImplClass}<${table.serviceName}, ${entity}>(), ${table.facadeName} {

}
#else
public class ${table.facadeImplName} extends ${superFacadeImplClass}<${table.serviceName}, ${entity}> implements ${table.facadeName} {

}
#end
